$azul-cadastrar: #0d6efd;
$laranja-atualizar: #ffc107;
$vermelho-deletar: #dc3545;

.modal-atualizar .modal-header {
    background-color: $laranja-atualizar;
}

.modal-cadastrar .modal-header {
    background-color: $azul-cadastrar;
    color: white;
}

.modal-deletar .modal-header {
    background-color: $vermelho-deletar;
    color: white;
}