<div class="modal" tabindex="-1" [class.show]="isVisible" [style.display]="isVisible ? 'block' : 'none'"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"
            [ngClass]="{'modal-atualizar': origem === 'atualizar', 'modal-cadastrar': origem === 'cadastrar', 'modal-deletar': origem === 'deletar'}">
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ message }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
                <button *ngIf="origem === 'cadastrar'" btn-cadastrar (click)="confirm()"></button>
                <button *ngIf="origem === 'atualizar'" btn-atualizar (click)="confirm()"></button>
                <button *ngIf="origem === 'deletar'" btn-deletar (click)="confirm()"></button>
            </div>
        </div>
    </div>
</div>