<div class="form-floating mb-3">
  <input
    *ngIf="!mask"
    type="text"
    class="form-control"
    [attr.placeholder]="label"
    [attr.maxLength]="maxLength"
    [formControl]="control"
    [ngClass]="{'is-invalid': isInvalido}"
  />
  <input
    *ngIf="mask"
    [mask]="mask"
    type="text"
    class="form-control"
    [attr.placeholder]="label"
    [attr.maxLength]="maxLength"
    [formControl]="control"
    [ngClass]="{'is-invalid': isInvalido}"
  />
  <label>{{ label }}</label>
  <div
    *ngIf="isInvalido"
    class="invalid-feedback"
  >
    {{ mensagemErro }}
  </div>
</div>
