<div class="accordion">
  <h2>Cadastrar Usuário <strong *ngIf="!_habilitarBotaoPersistir">(criado)</strong></h2>
  <app-informacoes-usuario #componente></app-informacoes-usuario>
</div>

<div class="mt-3 mb-1 text-end">
  <button btn-voltar (click)="voltar()"></button>
  <button *ngIf="_habilitarBotaoPersistir" btn-cadastrar (click)="abrirFecharModal()"></button>
</div> 

<app-notificador-mensagens></app-notificador-mensagens>

<app-modal [isVisible]="_isModalAberta" (onConfirmar)="confirmouAcaoModal()" (onFechar)="fecharModal()"></app-modal>