<div class="accordion">
    <h2>Deletar Usuário <strong *ngIf="!_habilitarBotaoPersistir">(removido)</strong></h2>
    <app-informacoes-usuario #componente></app-informacoes-usuario>
</div>

<div class="mt-3 mb-1 text-end">
    <button btn-voltar (click)="voltar()"></button>
    <button *ngIf="_habilitarBotaoPersistir" btn-deletar (click)="abrirFecharModal()"></button>
</div>

<app-notificador-mensagens></app-notificador-mensagens>

<app-modal [isVisible]="_isModalAberta" (onConfirmar)="confirmouAcaoModal()" [origem]="'deletar'"
    (onFechar)="fecharModal()"></app-modal>