<section class="avatar-selector">
  <label for="avatarInput" class="avatar-label">
    <div class="avatar-preview" *ngIf="selectedImage; else placeholder">
      <img [src]="selectedImage" alt="Avatar" class="avatar-image" />
    </div>
    <ng-template #placeholder>
      <div class="avatar-placeholder">Selecionar imagem</div>
    </ng-template>
  </label>
  <input
    type="file"
    id="avatarInput"
    class="avatar-input"
    accept="image/*"
    (change)="onFileSelected($event)"
  />
</section>